@{
    ViewData["Title"] = "Contact";
}
<hr />
<div class="col-md-3"></div>
<h2>@ViewData["Title"]</h2>
<div class="col-md-3"></div>
<h3>@ViewData["Message"]</h3>
<hr/>
<div class="col-md-3"></div>
<address>
    Virtual Diary<br />
    <div class="col-md-3"></div>
    Warszawa, Prosta X<br />
    <div class="col-md-3"></div>
    <abbr title="Phone">P:</abbr>
    999 000 111
</address>
<div class="col-md-3"></div>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <div class="col-md-3"></div>
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
