@model Exercise_1.Models.LogInViewModel
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
    -->
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trendy Flat Login Form A Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Trendy Flat Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!--font-awesome-css-->
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <!--//font-awesome-css-->
    <!-- css files -->
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900iSlabo+27px&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//online-fonts -->
</head>
<body>

    <!--header-->
    <div class="agileheader">
        <h1>Virtual Diary Login Form</h1>
    </div>
    <!--//header-->
    <!--main-->
    <section class="main-w3l">
        <div class="w3layouts-main">
            <h2>Login Now</h2>
            <div class="w3ls-form">
               @* <form action="#" method="post">*@

                    @using (Html.BeginForm("Login", "Account"))
    {
                    <form action="#" method="post">
                        <div class="email-w3ls">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="text" asp-for="Login" class="form-control" placeholder="Username" required="" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="w3ls-password">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <ul>
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" type="checkbox" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </ul>
                        <a href="#">Forgot Password?</a><br>
                        <div class="clear"></div>
                        <input type="submit" value="Login" name="login" />
                    </form>
                    }
                <!--
                <div class="email-w3ls">
                    <input type="text" name="email" placeholder="E-mail" required="">
                    <span class="icon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <div class="w3ls-password">
                    <input type="password" name="password" placeholder="Password" required="">
                    <span class="icon3"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <span><input type="checkbox" />Remember Me</span>
                <h6><a href="#">Forgot Password?</a></h6>
                <div class="clear"></div>
                <input type="submit" value="login" name="login">
                -->
                
            </div>
            <div class="w3ls-bottom">
                <p>Don't Have an Account ?<a asp-action="Register">Register Now</a></p>
            </div>
        </div>
       
    </section>
</body>

</html>


